<html>
	<body>

		<title style="font-family:verdana;">BookDetails</title>

		<H1 style="font-family:verdana; color:navy;text-align:center">Book Details</H1>

			<H3 style="font-family:verdana;text-align:center">To Kill A Mockingbird</H3>
			<br>
			<a href="https://www.thriftbooks.com/a/harper-lee/198949/">Harper Lee</a>
			<br><br>

			<a href="http://tinypic.com?ref=eq6xx1" target="_blank"><img src="http://i66.tinypic.com/eq6xx1.png" border="0" alt="Image and video hosting by TinyPic"></a>


			<p style="font-family:verdana;text-align:center">Atticus Finch, a well respected attorney, lives in...</p>
			<p style="font-family:verdana;text-align:center">Paperback.</p>
			<p style="font-family:verdana;text-align:center">Historial Fiction.</p>
			<p style="font-family:verdana;text-align:center">Grand Central Publishing.</p>
			<p style="font-family:verdana;text-align:center">October 28, 1988.</p>
			<p style="font-family:verdana;text-align:center">384 p.</p>
			<p style="font-family:verdana;text-align:center">4.87 Customer Rating</p>
			<p style="font-family:verdana;text-align:center">Comments:</p>

	</body>
</html>